body {
	background: #f9e933;
}

img {
	display: block;
	position: ;
}

/* Ruleset for the elements to make it responsive */
header, main, footer {
	min-width: 855px;
}

/*so that the content gets centered, but not the bg */

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
}

main {
	background: white;
}

[class*='col-'] {
	float: left;
}

.col-2-3 {
	width: 570px;
}

.col-1-3 {
	width: 33.33%;
}

.container:after {
	content: "";
	display: table;
	clear: both;